.legend {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 14px;
  display: none;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  margin: -2px 8px 0 0;
}

@media (min-width: 768px) and (max-width: 1200px) {
  .legend {
    display: none;
  }
}

@media (min-width: 1200px) {
  .legend {
    position: absolute;
    bottom: auto;
    left: auto;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
}
