extends ../templates/default-page.pug

block vars
  - var noLogo=true
  - var title="How to Use Technology Radar"

block content
  .headline-group
    h1.hero-headline
      | How to Use Technology Radar
    .markdown
      h2 What are quadrants?
      p
        | TODO
