extends ../templates/layout.pug

block vars
  - var title='Overview'

block content
  ul
    each quadrant, quadrantName in radar
      li
        h4= translate(quadrantName)
        ul
          each radarItem, itemName in quadrant
            li
              a(href='/' + quadrantName + '/' + itemName + '.html')
                = radarItem.attributes.title
