extends ../templates/layout.pug

block vars
  - var title='Overview'

block content
  .hero-headline
    | Technology Radar
    span.hero-headline__alt
      = ' '
      | March 2017
  div
    //-
      pre
        = JSON.stringify(radar, 0, 2)
    each quadrant, quadrantName in radar
      .quadrant-section
        .quadrant-section__header
          h4= translate(quadrantName)
        .quadrant-section__lists
          each items, ringName in quadrant
            .quadrant-section__list
              .ring-list
                .ring-list__header
                  span(class=`badge badge--${ringName}`)
                    = ringName
                each item in items
                  a.ring-list__item(href='/' + quadrantName + '/' + item.name + '.html')
                    = item.attributes.title
