:root {
  --max-width: 1200px;
  --border-radius: 12px;
  --font-mono:
    ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  --foreground: #fff;
  --background: #173d7a;
  --content: #fff;
  --text: #575757;
  --link: #029df7;
  --highlight: #029df7;
  --border: rgba(255, 255, 255, 0.1);
  --tag: rgba(255, 255, 255, 0.1);
}

* {
  box-sizing: border-box;
  outline-color: var(--highlight);
  padding: 0;
  margin: 0;
}

html,
body {
  scroll-behavior: smooth;
  max-width: 100vw;
  margin: 0;
  padding: 0;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-weight: 400;
  line-height: 1.3em;
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  margin-bottom: 1em;
}

strong {
  font-weight: 700;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  display: block;
  fill: currentColor;
}

h1,
h2,
h3,
h4 {
  line-height: 1.2em;
  margin-bottom: 1em;
  font-weight: 700;
}

h1 {
  font-size: 37px;
}

h2 {
  font-weight: 400;
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
}

ul,
ol {
  padding-left: 16px;
  margin-bottom: 1em;
}

ol {
  padding-left: 26px;
}

pre {
  margin-bottom: 1em;
  white-space: pre-wrap;
}

code {
  font-family: var(--font-mono);
}

input {
  background: var(--foreground);
  color: var(--background);
  border: 1px solid transparent;
  padding: 10px 12px;
  border-radius: 3px;
  width: 100%;
  font-size: 16px;

  &:focus {
    outline: none;
    border-color: var(--highlight);
  }
}

input::-webkit-search-cancel-button {
  display: none;
}
