@font-face {
    font-family: "DIN";
    src: url("fonts/NotoSans-Regular.ttf");
    font-weight: normal;
}

@font-face {
    font-family: "DIN";
    src: url("fonts/NotoSans-Thin.ttf");
    font-weight: 300;
}