@font-face {
    font-family: "DIN";
    src: url("fonts/clanot-news.otf");
    font-weight: normal;
}

@font-face {
    font-family: "DIN";
    src: url("fonts/clanot-thin.otf");
    font-weight: 300;
}