:root {
   --color-gray-dark: #38464D!important;
   --color-gray-dark-alt: #4C606A!important;
   --color-gray-normal: #607681!important;

   --color-green: #4A9940!important;
   --color-orange: #E4AE1D!important;
   --color-blue: #535EAA!important;
   --color-marine: #E35726!important;
   --color-red: #D74A39!important;
   --color-brand: #38464D!important;
}
