@font-face {
  font-family: 'DIN';
  src: url('../fonts/clanot-news.otf');
  font-weight: normal;
}

@font-face {
  font-family: 'DIN';
  src: url('../fonts/clanot-thin.otf');
  font-weight: 300;
}

body {
  background: #475157;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'DIN';
  font-weight: normal;
  font-size: 14px;
  line-height: 1.5;
}

body h1 {
    color: blue;
  }

#root {
  min-height: 100vh;
  overflow: hidden;
}

.badge {
  color: #fff;
  display: inline-block;
  box-sizing: border-box;
  padding: 0 15px;
  text-transform: uppercase;
  border-radius: 13px;
  font-size: 12px;
  line-height: 25px;
  height: 25px;
  overflow: hidden;
  text-decoration: none;
  border: 1px solid #7f858a;

}

.badge--big {
    border-radius: 15px;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    padding: 0 20px;
  }

.badge--all {
    background: #7f858a;
    border-color: #7f858a;
  }

.badge--adopt {
    background: #5CB449;
    border-color: #5CB449;
  }

.badge--trial {
    background: #FAA03D;
    border-color: #FAA03D;
  }

.badge--assess {
    background: #40A7D1;
    border-color: #40A7D1;
  }

.badge--hold {
    background: #688190;
    border-color: #688190;
  }

.branding {
  margin: 40px 0;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
  min-height: 60px;
  transition: opacity 450ms cubic-bezier(0.24, 1.12, 0.71, 0.98);
  opacity: 1;
}

.branding__backlink {
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

.branding__logo {
    -webkit-box-flex: 0;
            flex: 0 0 200px;
  }

.branding__logo img {
      display: inline-block;
    }

.branding__content {
    -webkit-box-flex: 0;
            flex: 0 1 auto;
  }

.branding.is-hidden {
    opacity: 0;
  }

.button {
  border: none;
  background: transparent;
  position: relative;
  padding: 10px 10px 10px 35px;
  margin: 0;
  font-size: 16px;
  line-height: 16px;
  color: #7f858a;
}

.button__icon {
    position: absolute;
    left: 5px;
    top: 50%;
    margin-top: -11px;
  }

.fullpage-content {

    font-size: 16px;
    color: #fff;

}

.fullpage-content p,
    .fullpage-content ul {
        font-weight: lighter
    }

.fullpage-content a {
        color: #fff;
    }

.fadable {
  opacity: 1;
  transition: opacity 0.2s cubic-bezier(0.54, 0, 0.28, 1);
}

.fadable.is-faded {
   opacity: 0;
  }

.filter {
  margin-bottom: 40px;
}

/* @todo: re-enable filter for mobile */

.flag {
  font-size: 9px;
  display: inline-block;
  padding: 3px 8px;
  border-radius: 10px;
  position: relative;
  vertical-align: top;
  margin-top: -2px;
  left: 5px;
}

.flag--new {
    background: #F1235A;
  }

.flag--changed {
    background: #40A7D1;
  }

.footer {
  border-top: 1px solid #7f858a;
  transition: opacity 450ms cubic-bezier(0.24, 1.12, 0.71, 0.98) 1500ms;
  opacity: 1;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.footer.is-hidden {
    opacity: 0;
    transition-delay: 0s;
  }

.footer-end {
  font-size: 12px;
  color: #7f858a;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
          flex-direction: row-reverse;
  -webkit-box-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
          align-items: center;
  padding: 0 0 10px 0;
}

.footer-end a {
    color: #7f858a;
  }

.footer-end__in-sidebar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: start;
            align-items: flex-start;
    margin-top: 100px;
  }

.footer-social {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
          flex-direction: row;
  -webkit-box-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
          align-items: center;
}

.footer-social__label {
    margin: 0 10px 0 0;
  }

.footnote {
  font-size: 12px;
  color: #7f858a;
}

.headline-group {
  margin: 0 0 60px;
}

.headline-group--secondary {
    margin: 10px 0;
  }

.headline {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 20px;
  font-weight: normal;
}

.headline--dark {
    color: #7D878D;
  }

.hero-headline {
  font-size: 38px;
  font-weight: 300;
  line-height: 1.2;
  color: #fff;
  padding: 0;
  margin: 0;
}

.hero-headline__alt {
    color: #7D878D;
  }

.hero-headline--inverse {
    color: #7D878D;
  }

/* copied from here: http://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.10.0/styles/darcula.min.css*/

.hljs{display:block;overflow-x:auto;padding:0.5em;background:#2b2b2b}

.hljs{color:#bababa}

.hljs-strong,.hljs-emphasis{color:#a8a8a2}

.hljs-bullet,.hljs-quote,.hljs-link,.hljs-number,.hljs-regexp,.hljs-literal{color:#6896ba}

.hljs-code,.hljs-selector-class{color:#a6e22e}

.hljs-emphasis{font-style:italic}

.hljs-keyword,.hljs-selector-tag,.hljs-section,.hljs-attribute,.hljs-name,.hljs-variable{color:#cb7832}

.hljs-params{color:#b9b9b9}

.hljs-string{color:#6a8759}

.hljs-subst,.hljs-type,.hljs-built_in,.hljs-builtin-name,.hljs-symbol,.hljs-selector-id,.hljs-selector-attr,.hljs-selector-pseudo,.hljs-template-tag,.hljs-template-variable,.hljs-addition{color:#e0c46c}

.hljs-comment,.hljs-deletion,.hljs-meta{color:#7f7f7f}

.icon-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  height: 25px;
  font-size: 14px;
  line-height: 25px;
  color: #7f858a;
}

.icon-link--primary {
    color: #F59134;
  }

.icon-link--big {
    font-size: 16px;
  }

.icon-link__icon {
    margin-right: 6px;
    position: relative;
    top: -1px;
  }

.icon-link:hover:after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -8px;
      width: 100%;
      border-bottom: 2px solid #7f858a;
    }

.icon {
  display: inline-block;
  width: 22px;
  height: 22px;
  background-size: 22px 22px;
  background-repeat: no-repeat;
  background-position: 0 0;
  vertical-align: middle;
}

.icon--pie {
    background-image: url('../icons/pie.svg');
  }

.icon--question {
    background-image: url('../icons/question.svg');
  }

.icon--overview {
    background-image: url('../icons/overview.svg');
  }

.icon--search {
    background-image: url('../icons/search.svg');
  }

.icon--back {
    background-image: url('../icons/back.svg');
  }

.icon--close {
    background-image: url('../icons/close.svg');
  }

.item-list {
  margin: 0 0 25px;
}

.item-list__header {
    margin-bottom: 20px;
  }

.item-page {
  display: -webkit-box;
  display: flex;
  min-height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.item-page__nav,
  .item-page__content {
    box-sizing: border-box;
    padding-top: 130px;
    min-height: 100vh;
    position: relative;
  }

.item-page__header {
    min-height: 40px;
    margin: 0 0 25px;
  }

.item-page__nav {
    background: #475157;
    -webkit-box-flex: 0;
            flex: 0 0 calc((100vw - 1200px) / 2 + 400px);
  }

.item-page__nav__inner {
      box-sizing: border-box;
      float: right;
      width: 410px;
      padding: 0 40px 0 10px;
    }

.item-page__content {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-box-flex: 0;
            flex: 0 0 calc((100vw - 1200px) / 2 + 800px);
    background: #fff;
  }

.item-page__content__inner {
      box-sizing: border-box;
      width: 810px;
      padding: 0 10px 0 100px;
    }

.mobile-item-page {
  background: #fff;
  margin: 0 -15px;
  padding: 15px;
  min-height: 300px;
}

.mobile-item-page__aside {
    padding: 20px 0
  }

.item-revision+.item-revision {
    margin-top: 40px;
  }

.item-revisions {
  margin-top: 60px;
}

.item {
  padding: 10px;
  border-bottom: 1px solid #7f858a;
  display: block;
  text-decoration: none;
  transition: background 200ms ease-out;
  color: #7f858a;
  box-sizing: border-box;
}

.item.is-active {
    background: #4F585E;
  }

.item:hover {
    background: #434D53;
  }

.item:first-child {
    border-top: 1px solid #7f858a;
  }

.item--big {
    min-height: 80px;
    padding: 20px 10px;
  }

.item--no-leading-border:first-child {
      border-top: none;
    }

.item--no-trailing-border:last-child {
      border-bottom: none;
    }

.item__title {
    font-size: 16px;
    color: #fff;
  }

.item__info {
    margin-top: 5px;
    font-size: 12px;
    color: #7f858a;
  }

.letter-index {
  margin-bottom: 60px;
}

.letter-index__group {
    border-top: 1px solid #7f858a;
    position: relative;
    padding: 0 0 0 200px;
    min-height: 80px;
  }

.letter-index__letter {
    font-size: 50px;
    line-height: 80px;
    color: #7f858a;
    position: absolute;
    left: 50px;
    top: 0;
  }

.link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.link:hover {
    text-decoration: underline;
  }

.logo-link {
  display: inline-block;
  transition: 200ms all ease-out;
  width: 400px;
  color: #fff;
  text-decoration: none;
  position: relative;
}

.logo-link__slide {
    transition: 400ms all cubic-bezier(0.54, 0, 0.28, 1);
    display: block;
    position: relative;
  }

.logo-link__icon {
    transition: 400ms opacity ease-out;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }

.logo-link__img {
    transition: 400ms all cubic-bezier(0.54, 0, 0.28, 1);
  }

.logo-link__text {
    transition: 400ms all cubic-bezier(0.54, 0, 0.28, 1);
    position: absolute;
    top: 50%;
    left: 130px;
    white-space: nowrap;
    font-size: 18px;
    line-height: 1;
    margin-top: -1px;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    opacity: 0;
  }

.logo-link--small .logo-link__img {
      -webkit-transform: scale(0.55);
              transform: scale(0.55);
    }

.logo-link--small .logo-link__text {
      opacity: 0.8;
    }

.logo-link--small .logo-link__slide {
      -webkit-transform: translateX(-32px);
              transform: translateX(-32px);
    }

.logo-link--small:hover .logo-link__icon {
        opacity: 1;
      }

.logo-link--small:hover .logo-link__slide {
        -webkit-transform: translateX(0);
                transform: translateX(0);
      }

.markdown {
  color: #7f858a;
  font-size: 16px;
}

.markdown p {
    margin: 20px 0;
  }

.markdown a {
    color: #7f858a;
    text-decoration: underline;
  }

.markdown a:hover {
      color: #475157;
    }

.markdown h1 {
    color: #7f858a;
  }

.markdown h2 {
    color: #7f858a;
  }

.markdown h3 {
    color: #7f858a;
  }

.markdown h4 {
    color: #7f858a;
  }

.markdown h5 {
    color: #7f858a;
  }

.markdown h6 {
    color: #7f858a;
  }

.markdown h1 {
    font-size: 2em;
    margin: 1em 0;
    font-weight: 300;
  }

.markdown h2 {
    font-size: 1.5em;
    margin: 1em 0;
  }

.markdown h3 {
    font-size: 1.2em;
    margin: 1em 0;
  }

.markdown img {
    max-width: 100%;
    margin: 10 0 10 0;
  }

.markdown pre {
    overflow-x: auto;
    padding: 10px;
    background: #475157;
    -webkit-overflow-scrolling: touch;
  }

.nav {
  white-space: nowrap;
}

.nav__item {
    display: -webkit-inline-box;
    display: inline-flex;
    position: relative;
  }

.nav__item + .nav__item {
      margin-left: 20px;
    }

.nav__search {
    position: absolute;
    right: 0;
    top: 50%;
    visibility: hidden;
    overflow: hidden;
    width: 0;
    margin-top: -25px;
    opacity: 0.8;
    transition:
      width 400ms cubic-bezier(0.24, 1.12, 0.71, 0.98) 100ms,
      visibility 0s linear 500ms,
      opacity 200ms linear;
  }

.nav__search.is-open {
      opacity: 1;
      width: 600px;
      visibility: visible;
      transition-delay: 0s;
    }

.page {
  max-width: 1200px;
  min-height: 100%;
  margin: 0 auto;
  padding: 0 15px;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  min-height: 100vh;
}

.page__header {
    -webkit-box-flex: 0;
            flex: 0 0 auto;
    margin-bottom: 20px;
    position: relative;
    z-index: 100;
  }

.page__content {
    -webkit-box-flex: 1;
            flex: 1 1 auto;
  }

.page__footer {
    margin-top: 5px;
    -webkit-box-flex: 0;
            flex: 0 0 auto;
  }

.publish-date {
    color: #7f858a;
    text-align: right;
}

.quadrant-grid {
  display: -webkit-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.quadrant-grid__quadrant {
    -webkit-box-flex: 0;
            flex: 0 0 45%;
    margin-bottom: 40px;
  }

.quadrant-section__header {
    margin-bottom: 20px;
  }

.quadrant-section__rings {
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
  }

.quadrant-section__ring {
    box-sizing: border-box;
    padding: 0 8px;
    -webkit-box-flex: 0;
            flex: 0 0 25%;
    margin: 0 0 25px;
  }

.ring-list__header {
    margin-bottom: 20px;
  }

.ring-list__item {
    font-size: 13px;
    display: block;
    margin-bottom: 12px;
  }

.search {
  box-sizing: border-box;
  width: 600px;
  height: 50px;
  position: relative;
  margin: 0;
  padding: 0;
}

.search__field {
    height: 100%;
    width: 100%;
    padding: 10px 120px 10px 20px;
    background: #3A444A;
    display: block;
    border: none;
    color: #fff;
    font-size: 16px;
    line-height: 1;
    font-family: 'DIN';
    font-weight: normal;
  }

.search__field::-webkit-input-placeholder {
      color: #7f858a;
    }

.search__field::placeholder {
      color: #7f858a;
    }

.search__field:focus {
      outline: none;
      background: #2F393F;
    }

.search__button {
    position: absolute;
    top: 50%;
    margin-top: -18px;
    right: 7px;
  }

.search--closable .search__field {
        padding-right: 160px;
      }

.search--closable .search__button {
        right: 50px;
        -webkit-transform: translateX(20px);
                transform: translateX(20px);
        transition: -webkit-transform 450ms cubic-bezier(0.24, 1.12, 0.71, 0.98) 100ms;
        transition: transform 450ms cubic-bezier(0.24, 1.12, 0.71, 0.98) 100ms;
        transition: transform 450ms cubic-bezier(0.24, 1.12, 0.71, 0.98) 100ms, -webkit-transform 450ms cubic-bezier(0.24, 1.12, 0.71, 0.98) 100ms;
      }

.search--closable .search__button.is-open {
          -webkit-transform: translateX(0);
                  transform: translateX(0);
          transition-delay: 250ms;
        }

.search--closable .search__close {
        position: absolute;
        padding: 10px;
        top: 50%;
        margin-top: -21px;
        right: 4px;
        -webkit-transform: scale(0.2);
                transform: scale(0.2);
        transition: -webkit-transform 400ms cubic-bezier(0.24, 1.12, 0.71, 0.98);
        transition: transform 400ms cubic-bezier(0.24, 1.12, 0.71, 0.98);
        transition: transform 400ms cubic-bezier(0.24, 1.12, 0.71, 0.98), -webkit-transform 400ms cubic-bezier(0.24, 1.12, 0.71, 0.98);
      }

.search--closable .search__close.is-open {
          -webkit-transform: rotate(180deg) scale(1);
                  transform: rotate(180deg) scale(1);
          transition-delay: 300ms;
        }

.social-icon {
  font-weight: normal;
  font-style: normal;
  font-size: 16px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  background-color: #fff;
  border-radius: 50%;
  padding: 7px;
  margin: 0 5px 0 5px;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  -webkit-font-feature-settings: 'liga';
          font-feature-settings: 'liga';

}

.split {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: justify;
          justify-content: space-between;
}

.split--align-top {
    -webkit-box-align: start;
            align-items: flex-start;
  }

.split--overview {
    min-height: 40px;
  }

.split__left {
    -webkit-box-flex: 0;
            flex: 0 1 auto;
  }

.split__right {
    -webkit-box-flex: 0;
            flex: 0 1 auto;
  }

@media (max-width: 30em) {
    .branding--footer {
      display: block;
      text-align: center;
    }
      .branding--footer .branding__logo {
        margin: 0 0 15px;
      }

.filter {
    display: none
}

.footer-end {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-align: center;
            align-items: center;
    margin: 20px 0 0
}

.headline-group {
    margin: 30px 0
}

.headline-group--secondary {
      margin: 5px 0
  }

.hero-headline {
    font-size: 26px
}
    .hero-headline__alt {
      display: block;
    }

.page__header {
     margin: 0
  }

.publish-date {
        text-align: center
}

.split {
     display: block
}
  }

@media (max-width: 75em) {

.branding {
    margin: 15px 0 0
}
  }

@media (max-width: 48em) {

.letter-index__group {
      padding:  0 0 0 50px
  }

.letter-index__letter {
      left: 0
  }
      .nav--relations .nav__item {
        display: block;
        margin: 5px 0 0;
      }

.quadrant-section__ring {
      flex-basis: 50%
  }
    }

@media (max-width: 61.875em) {
      .page__header .nav {
        display: none;
      }

.quadrant-grid__quadrant {
      flex-basis: 100%
  }
    }
