.badge {
  color: var(--color-white);
  display: inline-block;
  padding: 0 15px;
  text-transform: uppercase;
  border-radius: 13px;
  font-size: 12px;
  line-height: 25px;
  height: 25px;
  overflow: hidden;

  &--big {
    border-radius: 15px;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    padding: 0 20px;
  }

  &--adopt {
    background: var(--color-green);
  }
  &--trial {
    background: var(--color-orange);
  }
  &--assess {
    background: var(--color-blue);
  }
  &--hold {
    background: var(--color-marine);
  }

}
