.header {
  margin: 40px 0 60px;
  display: flex;
  align-items: center;

  &__logo {
    flex: 1 0 auto;
    & img {
      display: block;
      width: 150px;
      height: 60px;
    }
  }

  &__nav {
    flex: 0 0 auto;
    height: 20px;
  }
}
