.icon-link {
  display: inline-block;
  position: relative;
  text-decoration: none;
  padding-left: 30px;
  height: 25px;
  font-size: 14px;
  line-height: 25px;
  color: var(--color-gray-normal);

  &:hover {
    color: var(--color-white);
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 25px;
    height: 25px;
    /* TODO icon*/
    background: var(--color-gray-normal);
    border-radius: 50%;
  }
}
