.is-new {
  font-size: 9px;
  background: var(--color-red);
  display: inline-block;
  padding: 3px 8px;
  border-radius: 10px;
  position: relative;
  vertical-align: top;
  margin-top: -2px;
  left: 5px;
}
