.letter-index {
  margin-bottom: 60px;
  &__group {
    border-top: 1px solid var(--color-gray-normal);
    position: relative;
    padding: 0 0 0 200px;
    min-height: 100px;
  }
  &__letter {
    font-size: 50px;
    color: var(--color-gray-normal);
    position: absolute;
    left: 50px;
    top: 10px;
  }
}
