.overlay {
  background: var(--overlay);
  position: fixed;
  inset: 0;
  backdrop-filter: blur(2px);
  animation: overlayShow 300ms cubic-bezier(0.16, 1, 0.3, 1);

  &[data-state="closed"] {
    animation: overlayHide 300ms cubic-bezier(0.16, 1, 0.3, 1);
  }
}

.content {
  background-color: var(--dialog-bg);
  border-radius: 6px;
  box-shadow:
    rgba(0, 0, 0, 0.2) 0px 10px 38px -10px,
    rgba(0, 0, 0, 0.2) 0px 10px 20px -15px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90vw;
  max-width: 450px;
  max-height: 85vh;
  padding: 25px;
  animation: contentShow 150ms cubic-bezier(0.16, 1, 0.3, 1);

  &[data-state="closed"] {
    animation: contentHide 150ms cubic-bezier(0.16, 1, 0.3, 1);
  }
}

.content:focus {
  outline: none;
}

.close {
  position: absolute;
  top: 22px;
  right: 22px;
  width: 22px;
  height: 22px;
  cursor: pointer;
  background: none;
  border: none;
}

.title {
  margin: 0;
  font-size: 17px;
}

.description {
  margin: 10px 0 20px;
  font-size: 15px;
  line-height: 1.5;
}

@keyframes overlayShow {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes overlayHide {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@keyframes contentShow {
  from {
    opacity: 0;
    transform: translate(-50%, -40%) scale(0.9);
  }
  to {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@keyframes contentHide {
  from {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
  to {
    opacity: 0;
    transform: translate(-50%, -40%) scale(0.9);
  }
}
