extends layout.pug

block body
  .page
    .page__header
      .branding
        if noLogo
          .branding__backlink
            a.icon-link.icon-link--primary(href='/') AOE Technology Radar
        if !noLogo
          a.branding__logo(href='/')
            img(src='/assets/logo.svg')
        .branding__content
          .nav
            .nav__item
              a.icon-link(href='/howto.html') How to Use Technology Radar?
            .nav__item
              a.icon-link(href='/overview.html') Technologies Overview
    .page__content
      block content
    if !noFooter
      .page__footer
        .branding
          span.branding__logo
            img(src='/assets/logo.svg')
          .branding__content
            span.footnote
              | AOE is a leading provider of Enterprise Open Source web solutions.
              | Using current agile development methods, more than 250+ developers
              | and consultants in 8 global locations develop customized Open Source
              | solutions for global companies and corporations.
