extends layout.pug

block vars
  - var title=item.attributes.title

block content
  a(href='/' + quadrantName + '.html')= translate(quadrantName)
  h1 #{item.attributes.title}
    = ' '
    small #{item.attributes.ring}

  hr
  section
    != item.revisions[0].body
  hr

  ul
    each revision, index in item.revisions
      if index > 0
        li
          = revision.version
          != revision.body
