block vars
html
  head
    title #{title} - AOE Tech Radar
    link(rel='stylesheet', href='/styles.css')

  h3
    a(href='/') AOE Tech Radar

  hr

  body
    block content
    block scripts
      script(src='/bundle.js')
