block vars
html
  head
    title #{title} - AOE Tech Radar
    link(rel='stylesheet', href='/styles.css')
  body
    .page
      .header
        a.header__logo(href='/')
          img(src='/assets/logo.svg')
        .header__nav
          | How to Use Technology Radar?

      block content
      block scripts
        script(src='/bundle.js')
