extends default-page.pug

block vars
  - var title='Quadrant'

block content
  //
    h1
      = translate(quadrantName)
    ul
      each radarItem, itemName in quadrant
        li
          a(href='/' + quadrantName + '/' + itemName + '.html')= radarItem.attributes.title
