.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.item {
  + .item {
    border-top: 1px solid var(--border);
  }
}

.flag {
  margin-left: 8px;
}

.link {
  display: block;
  padding: 10px;

  &.isFadedOut {
    opacity: 0.65;
  }

  &:hover,
  &.isActive {
    background: var(--foreground);
    color: var(--background);
    opacity: 1;
  }
}

.isSmall {
  font-size: 14px;

  .link {
    padding: 8px;
  }
}
